.contacts-item-card {
  border-radius: 4px;
  background-color: white;
  margin: 0;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
  &:hover {
    transform: scale(1.005)
  };
}

.contacts-item-name-avatar {
  background-image: url("../../../../../../img/avatar_1.png");
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}