.deals-card {
  position: relative;
  background-color: white;
  height: 344px;
  margin: 10px 0 10px 0;
  border-radius: 4px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.deals-graphic-image {
  background-image: url("../../../../../../img/deals_graphic.png");
  height: 222px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}