.search-bar {
  background-color: white;
}

.search-icon {
  background-image: url("../../../../../../img/icons/search-icon.svg");
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.notification-icon {
  background-image: url("../../../../../../img/icons/notification-icon.svg");
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
}