.statistics-card {
  background-color: white;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.statistics-circle {
  background-image: url("../../../../../../img/Ellipse 2.svg");
  height: 224px;
  width: 224px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}