@mixin icon {
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebar-card {
  border-radius: 4px;
  background-color: white;
  margin: 0;
  padding: 0;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  height: inherit;
}

.closed-sidebar-card .sidebar-item-value{
  display: none;
}

.sidebar-toggle-icon {
  background-image: url("../../../../../../img/icons/sidebar_toggle.svg");
  @include icon;
}

.sidebar-toggle-active-icon {
  background-image: url("../../../../../../img/icons/sidebar_toggle_active.svg");
  @include icon;
}