@import "libs/bootstrap";

* {
  font-family: 'poppins-bold', sans-serif !important;
}

button {
  font-size: 14px;
  padding: 10px 50px 10px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  background-color: #109CF1;
  text-align: center;
  vertical-align: middle;
  color: white;
  &:hover {
    background-color: #34AFF9;
  };
  &:focus {
    background-color: #098EDF;
  }
}

.outlined-button {
  border: 2px solid #109CF1;
  color: #109CF1;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  &:hover {
    color: white;
  };
  &:focus {
    color: white;
  }
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #F5F6F8;
}
#root {
  height: inherit;
}

.inherit-height {
  height: inherit;
}

hr {
  margin-top: 0;
  border: #EBEFF2 solid 1px;
  background-color: #EBEFF2;
}

a {
  text-decoration: none;
  color: black;
}

.task-ellipse {
  margin: 10px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #FFB946;
}

.regular-text {
  font-style: normal;
  font-weight: normal;
}

.medium-text {
  font-style: normal;
  font-weight: 500;
}

.semibold-text {
  font-style: normal;
  font-weight: 600;
}

.disabled-text {
  color: #8f98a6;
}

.error-text {
  color: #d91513;
}
.fs12 {
  font-size: 12px;
  line-height: 18px;
}

.fs13 {
  font-size: 13px;
  line-height: 19px;
}

.fs15 {
  font-size: 15px;
  line-height: 22px;
}

.fs18 {
  font-size: 18px;
  line-height: 25px;
}

.blue {
  color: #109CF1;
}

.card {
  border-radius: 4px;
  background-color: white;
  margin: 0;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.input-text-new {
  border: none;
  border-bottom: 2px solid #D3D8DD;
  background-color: transparent;
}