.tasks-item-card {
  margin: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.005)
  };
}

.assigned-avatar {
  background-image: url("../../../../../../img/avatar_1.png");
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}