@mixin icon {
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.active-icon {
  color: #098EDF;
}

.dashboard-icon {
  background-image: url("../../../../../../img/icons/Vector.svg");
  @include icon;
}

.tasks-icon {
  background-image: url("../../../../../../img/icons/tasks-icon.svg");
  @include icon;
}

.email-icon {
  background-image: url("../../../../../../img/icons/email-icon.svg");
  @include icon;
}

.contacts-icon {
  background-image: url("../../../../../../img/icons/contacts-icon.svg");
  @include icon;
}

.chat-icon {
  background-image: url("../../../../../../img/icons/chat-icon.svg");
  @include icon;
}

.deals-icon {
  background-image: url("../../../../../../img/icons/deals-icon.svg");
  @include icon;
}

.settings-icon {
  background-image: url("../../../../../../img/icons/settings-icon.svg");
  @include icon;
}