.profile-avatar {
  background-image: url("../../../../../../img/profile_photo.png");
  height: 46px;
  width: 46px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
